* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}
.imgdiv > img {
    height: 400px;
    width: 400px;
    margin-top: 40px;
    margin-left:80px;
}
.signup_page{
    display: flex;
    justify-content: space-around;
    margin: 10px 0px;
}

.signup-content {
    height: 500px;
    width: 32%;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 0px #64a1fd;
    margin-left: 170px;
    margin-top: 20px;
}
.logo {
    width: 60px;
    height: 60px;
    margin-left: 12px;
    margin-top: 12px;
}

.welcome {
    margin-bottom: 16px;
    color: #1e1e1f;
    font-size: 24px;
}

.content {
    color: #3d7edf;
    margin-top: 9px;
    font-size: 16px;
    font-weight: 600;
}
a{
    text-decoration: none;
}

.form-item {
    position: relative;
    margin-bottom: 10px;
}


label {
    font-size: 15px;
    color: rgb(109, 109, 109);
    padding: 3px;
    position: absolute;
    top: 23px;
    left: 4px;
}

input {
    width: 75%;
    border: 1px solid rgb(206, 206, 206);
    font-size: 12px;
    outline: none;
    border-radius: 3px;
    height: 35px;
    margin: 18px 0px;
    padding-left: 6px;
}


input:focus~.label,
input:not(:focus):valid~.label {
    top: -5px;
    font-size: 15px;
    opacity: 1;
    color: rgb(109, 109, 109);
    transition: 0.50s;
}
form.form {
    margin-top: 13px;
}

.icon {
    color: rgb(197, 197, 197);
}


#eyeopen {
    position: absolute;
    font-size: 15px;
    top: 27px;
    left: 282px;
    display: none;
}

#eyeclose {
    position: absolute;
    font-size: 15px;
    top: 27px;
    left: 282px;
}

.btn {
    width: 75%;
    height: 35px;
    margin-top: 25px;
    border: 0px solid gray;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: #3d7edf;
    border-radius: 3px;
}

.btn:hover {
    background-color: #3d7edf;
    cursor: pointer;
    box-shadow: 0px 2px 3px #3d7edf;
}

.footer {
    font-size: 12px;
    margin-left: 64px;
    margin-top: 8px;
    color: gray;
}

.little-word {
    color: cornflowerblue;
    cursor: pointer;
}   

.list {
    width: 100%;
    margin: 60px 50px;
}

.require{
    color: #ff0101;
    position: absolute;
    top: 56px;
    left: 5px;
    display: none;
    
}
i{
    cursor: pointer;
}